jupyter
matplotlib
mkdocs
mkdocs-autorefs
mkdocs-gen-files
mkdocs-get-deps
mkdocs-literate-nav
mkdocs-material
mkdocs-material-extensions
mkdocstrings
mkdocstrings-python
numpy
openpyxl
pandas
pillow
python-pptx
pyomo
scipy
sdv
sphinx
sklearn==0.0
xlrd
xlsxwriter
